.hidden {
  display: none !important;
}

html {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: calc(100vh - 64);
  margin: 0;
}

#welcome {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: calc(100vh);
  background: linear-gradient(128deg,#C21A72,#0572e0);
  background-color: #0572e0;
}

#logo {
  text-align: center;
  margin: 0 auto;
}

#logo h1 {
  color: white;
  font-size: 8em;
}

#welcome .panel {
  min-height: 300px;
  margin-bottom: 20px;
  text-align: center;
  max-width: 430px;
  margin: 0 auto 20px;
}

.login-btn {
  min-width: 250px;
  background-color: #3B5998;
  color: #fff;
  padding: 20px 60px;
  border-radius: 3px;
  border: 1px solid;
  font-weight: bold;
  line-height: 1.43;
  text-decoration: none;
}

.list-1 {
  background-color: #1e88e5 !important;
}

.list-2 {
  background-color: #AB47BC !important;
}

.list-3 {
  background-color: #81c784 !important;
}

.white {
  color: white !important;
}

@keyframes highlight {
  0% {right: 85px;}
  50% {right: 95px;}
  100% {right: 85px;}
}

.empty-hint {
  position: fixed;
  bottom: 30px;
  font-size: 1.5em;
  color: rgb(253, 50, 119);
  animation-name: highlight;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
